<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <style media="screen">
      .card{
        position: absolute;
        width: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        -webkit-transform : translate(-50%,-50%);
        -moz-transform :translate(-50%,-50%);
        -ms-transform : translate(-50%,-50%);
        -o-transform : translate(-50%,-50%);
      }
      .card-title{
        margin-top: 10px;
      }
    </style>

</head>

<body class="bg-gradient-dark">  <!-- 배경 -->
    <div class="card">
      <div class="card-title">
        <h2 class="card-title text-center text-gray-900 ">Create Account</h2>
      </div>
      <div class="card-body">
        <form class="user">
          <div class="form-group row">
            <div class="col-sm-6">
              <input type="text" placeholder="First Name">
            </div>
            <div class="col-sm-6">
              <input type="text" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <input type="email" placeholder="Email Address">
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <input type="text" placeholder="First Name">
            </div>
            <div class="col-sm-6">
              <input type="text" placeholder="Last Name">
            </div>
          </div>

        </form>
        <a href="index-new.html" class="btn btn-primary btn-user btn-block">
            Register Account
        </a>
        <hr>
        <a href="temp.html" class="btn btn-google btn-user btn-block">
            <i class="fab fa-google fa-fw"></i> Register with Google
        </a>
        <a href="temp.html" class="btn btn-facebook btn-user btn-block">
            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
        </a>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
