<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>테스트용 페이지</title>
    <link href="/css/test.css" rel="stylesheet">
</head>

<body>

<script type="text/javascript" th:inline="javascript">
    window.API_GATEWAY_URI = [[ ${@environment.getProperty('api-gateway-url')} ]] ;  //  from application.yml
</script>

<div id="forTest"></div>

</body>


<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.js"></script>


<script src="/js/test.js"></script>

</body>

</html>